
  .cc{ float: left;
    width: 25%;
  padding: 10px;
  }
.card{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    float: left;
    width: 25%;
  padding: 10px;
  
  }
  /* .cc{ float: left;
    width: 25%;
  padding: 10px;
  } */